
@font-face {
    font-family: fira_sans_condensed;
    src: url(./font/Fira_Sans_Condensed/FiraSansCondensed-Bold.ttf);
}


@font-face {
    font-family: fira_sans_condensed_extra_bold;
    src: url(./font/Fira_Sans_Condensed/FiraSansCondensed-ExtraBold.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(./font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(./font/Roboto/Roboto-Bold.ttf);
}






body{
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}



p{
    color: #000;
    font-family: roboto-regular;

}



h2{
    color: #000;
    font-family: fira_sans_condensed;

}

h4{
    font-family: fira_sans_condensed
}


strong{
    color: #000;
    font-family: roboto-bold;
}


em{
    font-family: roboto-regular;
    font-size: 14px;
}


.container{
    background-color: blue;
    width: 100%;
    height: 137px;
    position: fixed;
    top: 0;
}


.enteteContenu{
    background-color: #fff;
    height: 80px;
    padding: 0 20px;
    display: flex;
    align-items: center;    
    justify-content: space-between;

}




.firstElementEnteteContenu{
    display: flex;
    justify-content: space-between;
    width: 63%;
}


/* LOCATION */

.location{
    background-color: #212121;
    width: 100%;
    height: 57px;
    /* padding: 10px 16px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.spanLocation{
    display: flex;
    width: 254.11px;
    height: 32px;
    justify-content: space-between;
    align-items: center;
}



.location p{
    margin: 0;
    font-size: 12px;
    width: 220.11px;
    height: 32px;
    color: #fff;
}



.btnLocation{
    padding: 0 20px;
    height: 37px;
    background-color: #212121;
    color: #fff;
    border: solid 1px ;
    font-family: fira_sans_condensed_extra_bold;
    font-size: 14px;
}


/* NAV */



.imgBanniere{
    padding-top: 137px;
}


.firstDescription{
    color: white; 
    display: flex;
    flex-direction: column;
    padding: 0 32px;
}
.firstDescription h2{
    margin: 30px 0 0px 0;
    color: #000;
    font-size: 30px;
    text-align: center;
}

.firstDescription strong{
    font-size: 14px;
}

.firstDescription p{
    margin-top: 5px;
    font-size: 14px;
}


/* ORDER AND PLAY */
.orderPlayDescription{
    padding-bottom: 32px;
    
}

.orderPlayDescription h2{
    padding: 0 32px;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 30px;
    text-align: center;
    color: #ff0000;
    display: flex;
}

.orderPlayDescription hr{
    background: #ff0000;
}






.containerOrder{
    background-color: #e3012b;
    width: 95%;
    margin: 0 auto;
    color: #fff;
}

.containerOrder p, h2{
    color: #fff;
}

/* ORDER ONE  */



.orderOne{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 65px;
}

.orderOne img{
    /* margin: 0 auto; */
}


.orderOne h2{
    margin: 0;
    text-align: center;
    margin-top: 16px;
}

.orderOne p{
    margin: 0;
    width: 292px;
    text-align: center;
    padding: 16px;
}



/* HR line */
hr{
    width: 80%; 
    height: 3px;
    background: white; 
    border: none;
}



/* ORDER TWO  */



.orderTwo{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 65px;
}
.orderTwo img {
    
}
.orderTwo h2{
    margin: 0;
    margin-top: 16px;
    letter-spacing: -1px;
}

.orderTwo p{
    margin: 0;
    width: 292px;
    text-align: center;
}




/* ORDER THREE  */


.orderThree{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.orderThree img {
    
}
.orderThree h2{
    margin: 0;
    margin-top: 16px;
    letter-spacing: -1px;
}

.orderThree p{
    margin: 0;
    width: 292px;
    text-align: center;
    padding-bottom: 64px;
}





/* MENU */


.menuliste{
    padding: 50px 0;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.menuliste img{
    padding-bottom: 50px;
}

.menuliste h2{
    margin: 0;
    width: 95%;
    color:#000;
    font-size: 30px;
}

.menuliste ul li{
    font-family: roboto-regular;
}


.menuliste strong{
    width: 95%;

}



/* download app */


.downApp{
    text-align: center;
    background-color: #000;
    color: #fff;

}

.downApp h2{
    margin: 0 auto;
    text-align: start;
    width: 90%;
    font-size: 30px;
}


.downApp .btndownload{
    padding: 32px 32px 16px 32px;
}
.downApp .btn{
    padding: 12px ;
    background-color: #e3012b;
    border: none;
    color: #fff;
    font-family: fira_sans_condensed_extra_bold;
    font-size: 16px;
}




/* FAQS */

.kfcrecompensefaq{
    width: 90%;
    margin: 0 auto;
    text-align: center;

}


.kfcrecompensefaq h2{
    font-size: 32px;
    margin: 0;
    padding-top: 32px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000;
}

.hrFaq{
    background-color: #e3012b;
}

.btnFaq{
    width: 200px;
    height: 45px;
    font-size: 16px;
    padding:  0 20px;
    margin-bottom: 24px;
    border: solid black 3px;
    background-color: #fff;
    font-family: fira_sans_condensed_extra_bold;
}


.kfcrecompensefaq strong{
font-size: 14px;
}


.kfcrecompensefaq .p1{
    font-size: 14px;
}

.kfcrecompensefaq .p2{
    margin: 0;
    text-align: start;
    margin-bottom: 20px;
    font-size: 14px;
}

.kfcrecompensefaq a{
    color: #e3012b;
}








/*FOOTER */



footer{
    padding: 25px 0;
    font-size: 26px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

footer h4{
    margin: 0 0 10px;
}

footer p {
    font-size: 12px;
    color: #fff;
}